body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.context-menu {
    padding: 5px;
}

.main-view {
    margin: 0;
    padding: 0;
    width: 100%;
}

.recording-name-dialogue {
    background-color: #FFFFFF;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}

.recording-name-title {
    font-weight: bold;
    padding: 3px;
}

.recording-name-content {
    padding: 3px;
}
