body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.context-menu {
    padding: 5px;
}

.test-site {
    margin: 0;
    padding: 0;
    width: 100%;
}

.recording-name-dialogue, .confirmation-dialogue, .loading-dialogue, .choose-attributes-dialogue {
    background-color: #FFFFFF;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.test-file-menu {
    display: inline;
}

.recording-name-title, .confirmation-dialogue-title, .loading-dialogue-title, .choose-attributes-title {
    font-weight: bold;
    padding: 3px;
}

.recording-name-content, .confirmation-dialogue-content, .choose-attributes-content {
    padding: 3px;
}

.confirmation-dialogue-buttons, .choose-attributes-buttons {
    padding: 3px;
    text-align: center;
}

.backlayer {
    background-color: rgba(210, 210, 210, .5);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
}

.attribute-list {
    list-style-type: none;
}

.tag-container {
    color: lightseagreen;
}
