<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kasutajaliidese testimine</title>
  <link rel="stylesheet" href="../css/index.css">
  <script src="../scripts/renderer/const-requires.js" charset="utf-8"></script>
  <script src="../scripts/utility.js" charset="utf-8"></script>  
  <script src="../scripts/classes/recording.js" charset="utf-8"></script>
  <script src="../scripts/classes/action.js" charset="utf-8"></script>
  <script src="../scripts/classes/playback.js" charset="utf-8"></script>
  <script src="../scripts/renderer/index.js" charset="utf-8"></script>
  <script src="../scripts/renderer/navigate-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/start-recording-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/stop-recording-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/recorder.js" charset="utf-8"></script>
</head>
<body>
  <div id="context_menu" class="context-menu">
    <input type="text" id="address_input">
    <button type="button" id="navigate_btn">Navigeeri</button>
    |
    <button type="button" id="start_recording_btn">Alusta salvestust</button>
    <button type="button" id="stop_recording_btn" disabled>Lõpeta salvestamine</button>
    |
    <button type="button" id="add_assertion_btn">Lisa kontroll</button>
  </div>

  <webview id="test_site" class="main-view" src="welcome.html" preload="../scripts/renderer/test-site-listeners.js"></webview>
</body>
</html>
