<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kasutajaliidese testimine</title>
  <link rel="stylesheet" href="../css/index.css">
  <script src="../scripts/renderer/const-requires.js" charset="utf-8"></script>
  <script src="../scripts/utility.js" charset="utf-8"></script>
  <script src="../scripts/config.js" charset="utf-8"></script>
  <script src="../scripts/ui-helper.js" charset="utf-8"></script>
  <script src="../scripts/classes/recording.js" charset="utf-8"></script>
  <script src="../scripts/classes/click-action.js" charset="utf-8"></script>
  <script src="../scripts/classes/nav-action.js" charset="utf-8"></script>
  <script src="../scripts/classes/url-check.js" charset="utf-8"></script>
  <script src="../scripts/renderer/resizing.js" charset="utf-8"></script>
  <script src="../scripts/renderer/navigate-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/start-recording-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/stop-recording-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/recorder.js" charset="utf-8"></script>
  <script src="../scripts/renderer/player.js" charset="utf-8"></script>
  <script src="../scripts/renderer/file-saver.js" charset="utf-8"></script>
  <script src="../scripts/renderer/recording-name-dialogue.js" charset="utf-8"></script>
  <script src="../scripts/renderer/test-select.js" charset="utf-8"></script>
  <script src="../scripts/renderer/delete-test-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/play-test-btn.js" charset="utf-8"></script>
  <script src="../scripts/renderer/confirmation-dialogue.js" charset="utf-8"></script>
  <script src="../scripts/renderer/test-site-loading.js" charset="utf-8"></script>
</head>
<body>
  <!-- Menu -->
  <div id="context_menu" class="context-menu">
    <input type="text" id="address_input">
    <button type="button" id="navigate_btn">Navigeeri</button>
    ||
    <button type="button" id="start_recording_btn">Alusta salvestust</button>
    <button type="button" id="stop_recording_btn" disabled>Lõpeta salvestamine</button>
    ||
    <button type="button" id="add_assertion_btn">Lisa kontroll</button>
    ||
    <div class="test-file-menu" id="test_file_menu">
      <select id="test_select"></select>
      <button type="button" id="play_test_btn">Esita</button>
      <button type="button" id="delete_test_btn">Kustuta</button>
    </div>
  </div>

  <!-- Electron specific element for a webpage in a webpage (like an iframe) -->
  <webview id="test_site" class="test-site" src="welcome.html" preload="../scripts/renderer/test-site-listeners.js"></webview>

  <!-- Toggled parts -->
  <div class="recording-name-dialogue" id="recording_name_dialogue">
    <div class="recording-name-title">Anna testile nimi</div>
    <div class="recording-name-content">
      <input type="text" id="recording_name_input">
      <button type="button" id="recording_name_btn">Salvesta</button>
    </div>
  </div>

  <div class="confirmation-dialogue" id="confirmation_dialogue">
    <div class="confirmation-dialogue-title">Palun kinnita</div>
    <div class="confirmation-dialogue-content">
      <div class="confirmation-dialogue-message" id="confirmation_dialogue_message"></div>
      <div class="confirmation-dialogue-buttons">
        <button type="button" id="confirm_btn">Jah</button>
        <button type="button" id="cancel_btn">Ei</button>
      </div>
    </div>
  </div>

  <div class="loading-dialogue" id="loading_dialogue">
    <div class="loading-dialogue-title">Laadimas...</div>
  </div>

  <div class="backlayer" id="backlayer"></div>
</body>
</html>
