<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tere tulemast</title>
    <style>
      ol > li {
        padding-bottom: 20px;
      }
      .container {
        margin: auto;
        width: 400px;
      }
    </style>
</head>
<body>
    <div class="container">
      <h2>Tere! Milline ilus päev testimiseks!</h2>
      <p>
        Testimisega alustamiseks on Sul kaks võimalust:
        <ol>
          <li>
            <ul>
              <li>Sisesta aadress</li>
              <li>Navigeeri</li>
              <li>Alusta salvestust</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>Vali salvestatud test</li>
              <li>Esita</li>
            </ul>
          </li>
        </ol>
      </p>
      <p>Testimine ei pea olema igav. Toredat testimist!</p>
    </div>
</body>
</html>
